/* The screen div should fill the entire screen. */
.screen {
    position:sticky;

    margin:0px;
    padding:.5em;

    width:100vw;
    min-height:100vh;

    box-sizing: border-box;

}

/* UIComponent classes */

.ui-component {
}

.ui-div {

}

.ui-header {

}

.ui-paragraph {
    
}

.ui-image {
    max-width: 100%;
}

.ui-text-input {
}

.ui-number-input {
}

.ui-toggle-button-input {
    transition:125ms;
}

.ui-select-input {
    
}

.ui-multi-select-input {

}

.ui-multi-select-button {
    transition:125ms;
}

.ui-next-screen-button {

}

/* UIComponent property classes */

.ui-prop-selected {
    filter:invert();
}

/* Helper classes */

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-rows {
    flex-direction: column;
}

.flex-columns {
    flex-direction: row;
}