/* The screen div should fill the entire screen. */
#screen {
    position:sticky;

    margin:0px;
    padding:.5em;

    width:100vw;
    /* min-height:100vh; */

    box-sizing: border-box;

}

/* UIComponent classes */

.ui-component {
    transition:125ms;
}

.ui-div {

}

.ui-header {

}

.ui-paragraph {
    
}

.ui-image {
    max-width: 100%;
}

.ui-text-input {
}

.ui-number-input {
}

.ui-toggle-button-input {
}

.ui-next-screen-button {

}

/* UIComponent property classes */

.ui-prop-selected {
    filter:invert();
}

/* Helper classes */

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-rows {
    flex-direction: column;
}

.flex-columns {
    flex-direction: row;
}